@model ChangePasswordViewModel
    <h3>
        Update Your Password
    </h3>
<div class="container border" style="padding:20px">
    <form method="post" asp-controller="Account" asp-action="UpdatePassword">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="CurrentPassword"></label>
            </div>
            <div class="col-4">
                <input asp-for="CurrentPassword" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="NewPassword"></label>
            </div>
            <div class="col-4">
                <input asp-for="NewPassword" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                 <label asp-for="NewPasswordRetype"></label>
            </div>
            <div class="col-4">
                <input asp-for="NewPasswordRetype" class="form-control" />               
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
            </div>
            <div class="col-4">
                <input type="submit" class="btn btn-primary" value="Update" />
            </div>
        </div>
    </form>
</div>